<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/httpserver/">

  <meta charset="UTF-8">
  <title>HttpServer Test</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <style type="text/css" media="screen">
    .vcenter {
      min-height: 100%;
      min-height: 100vh;

      display: flex;
      align-items: center;
    }
  </style>
</head>
<body>
  <div class="container">
