<div class="row vcenter">
  <div class="col-xs-offset-4 col-xs-4">
    <ul>
      <li><strong>Index: </strong><a href="">/</a></li>
      
      <li><strong>Login: </strong><a href="login">/login</a></li>
      <li><strong>Logout: </strong><a href="logout">/logout</a></li>
      
      <li><strong>Page 1: </strong><a href="page_1">/page_1</a></li>
      <li><strong>Page 2: </strong><a href="page_2">/page_2</a></li>
      <li><strong>Page 3: </strong><a href="page_3">/page_3</a></li>

      <li><strong>Page 2-3: </strong><a href="page_23">/page_23</a></li>
    </ul>
  </div>
</div>